h2{
  font-size: 20px;
}

table, th, td{
  padding: 5px;
  border: 1px solid black;
}
.container-5{
  border: 2px solid black;
  justify-content: space-around;
  margin: auto;
  width: 75%;
  text-align: center;
}
.flex-box-blackjack-row-1{
  height: 300px;
  color: white;
  display: flex;
  /* border: 1px solid black; */
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.flex-box-blackjack-row-2, .flex-box-blackjack-row-3{
  display: flex;
  /* border: 1px solid black; */
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.flex-box-blackjack-row-1, .flex-box-blackjack-row-2{
  background: url(table_background.jpg) center;
}
.flex-box-blackjack-row-1 div{
  border: 1px solid black;
  flex: 1;  /*automatically create borders between divs.*/
  padding: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.flex-box-blackjack-row-1 img{
  padding: 5px;
}
.flex-box-blackjack-row-2 div{
  padding: 10px;
  margin: 10px auto;
  /* border: 1px solid black; */
}
.flex-box-blackjace-row-3{
  margin: auto;
  justify-content: space-around;
  text-align: center;
}
