body{
  color: red;
}
.container-2{
  border: 2px solid black;
  text-align: center;
  text-decoration-color: red;
  color: blue;
  /* width: 75%; */
  margin: auto;
}
.flex-box-container-2{
  display: flex;
  border: 2px solid red;
  justify-content: space-around;
  flex-wrap: wrap;
}
.flex-box-container-2 img{
  /* border: 1px solid green; */
  /* padding: 10px; */
  margin: 5px;
  box-shadow: 0px 10px 50px rgba(255, 0, 0, 0.5);
  /* align-content: center; */
}
